.container {
    padding: 48px 64px;
    display: grid;
    grid-template-columns: 30% 1fr;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.sidebar {
    grid-column: 1;
    position: sticky;
    top: 125px;
    height: fit-content;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.catalogContainer {
    grid-column: 2;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}