.container {
    padding: 48px 64px;
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;
}

.tooglerContainer {
    display: flex;
    gap: 40px;
    margin-top: 60px;
    margin-bottom: 44px;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

}

.toogler {
    color: var(--color-main);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2; /* 120% */
}

.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: space-between;
}

.link {
    text-decoration: none;
    padding-bottom: 24px;
    position: relative;
    transition: color 0.3s ease;

}

.link.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 85px;
    height: 5px;
    background-color: var(--color-button, #E44848);
    border-radius: 2px;
}

.link:hover {
    color: var(--color-button-hover);
}

