.header {
    display: flex;
    align-items: center;
    padding: 24px 64px;
    border-bottom: 1px solid var(--color-gray-light, #F2F4F7);
    background: var(--color-inputs, #F7F7F7);

    position: sticky;
    top: -1px;

}

.link {
    text-decoration: none;
}

.link:visited {
    color: inherit;
}

.link.active {
    color: var(--color-button-hover);
}

.navbar {
    display: flex;
    gap: 32px;
    flex: 1;
    justify-content: center;

}