@import "tailwindcss";

:root {
    --color-background: #FFE7E7;
    --color-text: #2D2A32;
    --color-accent: #9B1C3D;
    --color-hover: #EF1F4D;
}

@layer components {
    .myContainer {
        @apply px-2 md:px-4 lg:px-6 xl:px-8 max-w-[1920px] mx-auto
    }

    .interactive,
    .interactive-button {
        @apply transition transform cursor-pointer
    }

    .interactive:hover {
        @apply !text-[var(--color-hover)] scale-110;
    }

    .interactive-button:hover {
        @apply !text-[var(--color-background)] !bg-[var(--color-hover)] scale-110;
    }

    .interactive:active,
    .interactive-button:active {
        @apply scale-90;
    }
}

body {
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-text);
}



