.hero {
    padding: 0 64px;
    height: 696px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 1440px;
    display: flex;
    align-items: center;
}

.titleContainer {
    margin-top: 260px;
}

.title {
    color: var(--color-inputs);
    /* H1 */
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.6; /* 66.667% */
}

.titleDesc {
    color: var( --color-inputs, #F7F7F7);
    /* H2 */
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.3;
}

.button {
    margin-top: 40px;
}