.badges {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    list-style: none;
}

.badge {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 18px;
    background: var(--color-badges);

    text-transform: capitalize;
}