.btn {
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 16px 60px;

    border-color: transparent;
    border-radius: 200px;
    background: var(--color-button);

    color: var(--color-white);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: -0.02em;
}

.btn:hover {
    background-color: var(--color-button-hover);
}